<tr>
  <td>
    <div class="route_title" id="route_title_<%= route.id %>" data-route-id="<%= route.id %>" onmouseover="this.style.border = '1px dotted blue'" onmouseout="this.style.border=''">
        <%= route.name %>
    </div>
    <%= render 'form', route: route, hidden: true, small: true %>
  </td>
  <td><%= link_to t('common.action.show'), [:admin, route] %></td>
  <td><%= link_to t('common.action.edit'), edit_admin_route_path(route), class: 'edit_route', data: {route_id: route.id} %></td>
  <td><%= link_to t('common.action.delete'), [:admin, route], method: :delete, data: { confirm: t('common.action.confirm') } %></td>
</tr>