<p id="error"><%= error %></p>

<h1>Добавление станций в маршрут <%= @route.name %></h1>

<%= form_for [:admin, @route], :url => url_for(:action => 'update_stations') do |f| %>
    <div class="field">
      <%=
       f.collection_select :stations, @railway_stations, :id, :title, {}, {:multiple => true}
      %>
    </div>
    <div class="actions">
      <%= f.submit "Добавить станции" %>
    </div>
<% end %>

<%= link_to 'Назад', admin_route_path(@route) %>