<p id="error"><%= error %></p>

<h1><%= t('.title') + ' ' + @route.name %></h1>

<%= form_for [:admin, @route], :url => url_for(:action => 'update_stations') do |f| %>
    <div class="field">
      <%=
       f.collection_select :stations, @railway_stations, :id, :title, {}, {:multiple => true}
      %>
    </div>
    <div class="actions">
      <%= f.submit t('.submit') %>
    </div>
<% end %>

<%= link_to t('common.action.back'), admin_route_path(@route) %>