<p>
  <strong><%= t('activerecord.attributes.route.name') %>:</strong>
  <%= @route.name %>
</p>

<p>
  <strong><%= t('.trains_title') %></strong>
</p>

<p>
  <% if @route.trains.empty? %>
      <%= t('common.empty_list') %>
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
      <% end %>
    </ul>
<% end %>
</p>

<p>
  <strong><%= t('.stations_title') %></strong>
</p>

<p>
  <% if @route.stations.empty? %>
      <%= t('common.empty_list') %>
  <% else %>
    <table>
      <thead>
        <th><%= t('activerecord.attributes.railway_stations_route.railway_station') %></th>
        <th><%= t('activerecord.attributes.railway_stations_route.position') %></th>
        <th><%= t('activerecord.attributes.railway_stations_route.arrival_time') %></th>
        <th><%= t('activerecord.attributes.railway_stations_route.departure_time') %></th>
      <th></th>
      </thead>
      <tbody>
          <% @route.stations.ordered.each do |railway_station| %>
            <tr>
                <td width="100px"><%= railway_station.title %>
                <%= form_tag(update_parameters_admin_railway_station_path(railway_station), method: :patch) do %>
                    <%= hidden_field_tag :route_id, @route.id %>
                    <td><%= number_field_tag :position, railway_station.position(@route) %></td>
                    <td><%= time_field_tag :arrival_time, railway_station.arrival_time(@route) %></td>
                    <td><%= time_field_tag :departure_time, railway_station.departure_time(@route) %></td>
                    <td><%= submit_tag t('common.action.edit') %></td>
                <% end %>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<%= link_to t('common.action.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.action.back'), admin_routes_path %>
