<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Текущий маршрут: </strong>

  <% if @train.route %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
