<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Купленные билеты</strong>
</p>

<p>
  <% if @user.tickets.empty? %>
      Список пуст
  <% else %>
    <table>
      <thead>
        <th>№ билета</th>
        <th>Поезд</th>
        <th>Станция отправления</th>
        <th>Станция прибытия</th>
      </thead>
      <tbody>
        <% @user.tickets.each do |ticket| %>
          <tr>
            <td>
              <%= ticket.id %>
            </td>
            <td>
              <%= ticket.train.number %>
            </td>
            <td>
              <%= ticket.start_station.title %>
            </td>
            <td>
              <%= ticket.end_station.title %>
            </td>
          </tr>
        <% end %>
    </tbody>
    </table>
<% end %>
</p>

<%= link_to 'Изменить', edit_user_path(@user) %> |
<%= link_to 'Назад', users_path %>
