<h1>Админка</h1>
<ol>
  <li><%= link_to 'Поиск билетов', search_path %></li>
  <li><%= link_to 'Список станций', admin_railway_stations_path %></li>
  <li><%= link_to 'Список поездов', admin_trains_path %></li>
  <li><%= link_to 'Список маршрутов', admin_routes_path %></li>
  <li><%= link_to 'Список пользователей', users_path %></li>
</ol>
