<% content_for :title do %><%= t('.title') %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h2><%= t('.title') %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.ticket.train') %></th>
        <th><%= t('activerecord.attributes.ticket.start_station') %></th>
        <th><%= t('activerecord.attributes.ticket.end_station') %></th>
        <th><%= t('activerecord.attributes.ticket.fio') %></th>
        <th><%= t('activerecord.attributes.ticket.passport') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
          <%= render @tickets %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to t('cabinet.index.search_tickets'), search_path, class: "btn btn-primary btn-sm", style: "color: white;" %>
    <%= link_to t('common.action.back'), cabinet_index_path, class: "btn btn-primary btn-sm", style: "color: white;" %>
  </div>
</div>
