<tr>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td><%= ticket.fio %></td>
  <td><%= ticket.passport %></td>
  <td><%= link_to t('common.action.show'), admin_ticket_path(ticket) %></td>
  <td><%= link_to t('common.action.edit'), edit_admin_ticket_path(ticket) %></td>
  <td><%= link_to t('common.action.delete'), admin_ticket_path(ticket), method: :delete, data: { confirm: t('common.action.confirm') } %></td>
</tr>