<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.ticket.train') %></th>
      <th><%= t('activerecord.attributes.ticket.start_station') %></th>
      <th><%= t('activerecord.attributes.ticket.end_station') %></th>
      <th><%= t('activerecord.attributes.ticket.fio') %></th>
      <th><%= t('activerecord.attributes.ticket.passport') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>

<%= link_to t('common.action.back'), admin_root_path %>
