<p>
  <strong><%= t('activerecord.attributes.ticket.train') %>:</strong>
  <%= @ticket.train.number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.ticket.start_station') %>:</strong>
  <%= @ticket.start_station.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.ticket.end_station') %>:</strong>
  <%= @ticket.end_station.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.ticket.fio') %>:</strong>
  <%= @ticket.fio %>
</p>

<p>
  <strong><%= t('activerecord.attributes.ticket.passport') %>:</strong>
  <%= @ticket.passport %>
</p>

<%= link_to t('common.action.back'), admin_tickets_path %>
