<p id="notice"><%= notice %></p>

<p>
  <strong>Поиск билетов</strong>
</p>

<p>
  <%= form_tag search_path, method: :get do %>
      <%= select_tag :departure_station, options_from_collection_for_select( RailwayStation.all, "id", "title", @departure_station.try(:id)) %>
      <%= select_tag :arrival_station, options_from_collection_for_select( RailwayStation.all, "id", "title", @arrival_station.try(:id)) %>
      <%= submit_tag 'Искать' %>
  <% end %>

  <% if @arrival_station && @departure_station %>
    <table class="table">
      <thead>
        <th width="100px">Поезд</th>
        <th width="200px">Маршрут</th>
        <th width="100px">Время отправления</th>
        <th width="100px">Время прибытия</th>
        <th></th>
      </thead>
      <tbody>
        <% @routes.each do |route| %>
            <% route.trains.each do |train| %>
                <tr>
                    <td>
                      <%= train.number %>
                    </td>
                    <td>
                      <%= route.name %>
                    </td>
                    <td>
                        <%= @departure_station.departure_time(route).to_s(:time) %>
                    </td>
                    <td>
                        <%= @arrival_station.arrival_time(route).to_s(:time) %>
                    </td>
                    <td>
                      <%= link_to "Купить", new_user_ticket_path(User.first, ticket: {start_station_id: @departure_station.id, end_station_id: @arrival_station.id, train_id: train.id}) %>
                    </td>
                </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<%= link_to 'На главную', root_path %>