<%= form_for([@train, @wagon]) do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <div class="field">
    <%= f.label :route, "Текущий поезд" %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :type, 'Тип вагона' %>
    <%= f.select :type, options_for_select(Wagon::WAGON_TYPES.invert, @wagon.type), {} %>
  </div>

  <% if ['CompartmentWagon', 'ReservedSeatWagon'].include? @wagon.type or @wagon.new_record? %>
      <div class="field">
        <%= f.label :top_places, 'Верхних мест' %><br>
        <%= f.number_field :top_places %>
      </div>
  <% end %>

  <% if ['CompartmentWagon', 'ReservedSeatWagon', 'SleepingWagon'].include? @wagon.type or @wagon.new_record?  %>
      <div class="field">
        <%= f.label :bottom_places, 'Нижних мест' %><br>
        <%= f.number_field :bottom_places %>
      </div>
  <% end %>

  <% if ['ReservedSeatWagon'].include? @wagon.type or @wagon.new_record?  %>
      <div class="field">
        <%= f.label :side_bottom_places, 'Боковых нижних мест' %><br>
        <%= f.number_field :side_bottom_places %>
      </div>
      <div class="field">
        <%= f.label :side_top_places, 'Боковых верхних мест' %><br>
        <%= f.number_field :side_top_places %>
      </div>
  <% end %>

  <% if ['SedentaryWagon'].include? @wagon.type or @wagon.new_record?  %>
    <div class="field">
      <%= f.label :sedentary_places, 'Сидячих мест' %><br>
      <%= f.number_field :sedentary_places %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "#{@wagon.new_record? ? 'Создать' : 'Изменить'}" %>
  </div>
<% end %>
