<p id="notice"><%= notice %></p>

<p>
  <strong>Текущий поезд:</strong>
  <%= @wagon.train.number %>
</p>

<p>
  <strong>Тип вагона:</strong>
  <%= @wagon.wagon_type_title %>
</p>

<% if ['CompartmentWagon', 'ReservedSeatWagon'].include? @wagon.type %>
    <p>
      <strong>Верхних мест:</strong>
      <%= @wagon.top_places %>
    </p>
<% end %>

<% if ['CompartmentWagon', 'ReservedSeatWagon', 'SleepingWagon'].include? @wagon.type %>
    <p>
      <strong>Нижних мест:</strong>
      <%= @wagon.bottom_places %>
    </p>
<% end %>

<% if ['ReservedSeatWagon'].include? @wagon.type %>
    <p>
      <strong>Боковых нижних мест:</strong>
      <%= @wagon.side_bottom_places %>
    </p>
    <p>
      <strong>Боковых верхних мест:</strong>
      <%= @wagon.side_top_places %>
    </p>
<% end %>

<% if ['SedentaryWagon'].include? @wagon.type %>
    <p>
      <strong>Сидячих мест:</strong>
      <%= @wagon.sedentary_places %>
    </p>
<% end %>

<%= link_to 'Изменить', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>
