<p id="notice"><%= notice %></p>
<p id="error"><%= error %></p>

<h1>Select Railway Station for route <%= @route.name %></h1>

<%= form_for @route, :url => url_for(:action => 'update_stations') do |f| %>
    <div class="field">
      <%=
          collection_select(:stations, :id, @railway_stations, :id, :title, {}, {:multiple => true, :class => "chzn-select"})
      %>
    </div>
    <div class="actions">
      <%= f.submit "Add stations" %>
    </div>
<% end %>

<%= link_to 'Back', route_path(@route) %>