<p id="notice"><%= notice %></p>

<p>
  <strong>Наименование:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Поезда на маршруте</strong>
</p>

<p>
  <% if @route.trains.empty? %>
      Список пуст
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
      <% end %>
    </ul>
<% end %>
</p>

<p>
  <strong>Станции в маршруте</strong>
</p>

<p>
  <% if @route.stations.empty? %>
      Список пуст
  <% else %>
    <table>
      <thead>
        <th>Наименование</th>
        <th>Позиция</th>
      </thead>
      <tbody>
          <% @route.stations.ordered.each do |railway_station| %>
            <tr>
                <td width="100px"><%= railway_station.title %>
                <td>
                  <%= form_tag(update_position_railway_station_path(railway_station), method: :patch) do %>
                    <%= hidden_field_tag :route_id, @route.id %>
                    <%= number_field_tag :position, railway_station.position(@route) %>
                    <%= submit_tag 'Изменить' %>
                  <% end %>
                </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<%= link_to 'Изменить', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
