<p id="notice"><%= notice %></p>

<p>
  <strong>Наименование:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Поезда на маршруте</strong>
</p>

<p>
  <% if @route.trains.empty? %>
      Список пуст
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
      <% end %>
    </ul>
<% end %>
</p>

<p>
  <strong>Станции в маршруте</strong>
</p>

<p>
  <% if @route.stations.empty? %>
      Список пуст
  <% else %>
    <ul>
      <% @route.stations.each do |railway_station| %>
          <li><%= railway_station.title %> <%= link_to '[X]', delete_station_route_path(@route, railway_station), method: :delete, data: { confirm: 'Вы уверены?' } %></li>
      <% end %>
    </ul>
<% end %>
</p>

<%= link_to 'Изменить', edit_route_path(@route) %> |
<%= link_to 'Добавить станции', stations_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
