<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Станции в маршруте</strong>
</p>

<p>
  <% if @route.stations.empty? %>
      Список пуст
  <% else %>
    <ul>
      <% @route.stations.each do |railway_station| %>
          <li><%= railway_station.title %> <%= link_to '[X]', delete_station_route_path(@route, railway_station), method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    </ul>
<% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Add stations', stations_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
